/* General Styles */
body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: slateblue;
}

header {
  width: 100%;
  background-color: darkcyan;
  position: fixed;
  top: 0;
  padding: 10px 0;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: Red ;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  header {
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 5px 0;
  }
}

/* Placeholder Box Styles */
.placeholder-box {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 2px dashed greenyellow;
  background-color: #f9f9f9;
}

.placeholder-content {
  margin-top: 10px;
  padding: 50px;
  font-size: 18px;
  font-weight: bold;
  color: purple;
  background-color: yellow;
  border: 1px solid orange;
}